#about-contact {
    text-transform: uppercase;
    text-align: center;
    font-size: var(--font-size-about-contact);
    font-family: "Saira Extra Condensed";
    font-weight: 700;
    margin-top: -5vw;
    display: block;
}
.about-contact-dark {
    color: var(--first-name-dark);
}
.about-contact-light {
    color: var(--first-name-light);
}
.dark-mail {
    color: var(--last-name-dark);
    transition: .2s;
}
.dark-mail:hover {
    color: var(--last-name-light);
}
.light-mail {
    color: var(--last-name-light);
    transition: .2s;
}
.light-mail:hover {
    color: var(--last-name-dark);
}
#about-container {
    font-size: var(--font-size);
    line-height: var(--line-height);
}
#about-container p {
    margin-top: 5vw;
}

#first-last-name {
    text-transform: uppercase;
    text-align: center;
    font-size: var(--font-size-first-last-name);
    font-family: "Saira Extra Condensed";
    font-weight: 700;
    transition-duration: .2s;
    margin-bottom: 0;
}
.first-name-light {
    color: var(--first-name-light);
    display: inline-block;
}
.first-name-dark {
    color: var(--first-name-dark);
    display: inline-block;
}
.last-name-light {
    color: var(--last-name-light);
    display: inline-block;
}
.last-name-dark {
    color: var(--last-name-dark);
    display: inline-block;
}


#social-icons {
    font-size: var(--font-size-social-icons);
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
    justify-content: space-evenly;
    text-align: center;
    transition: .2s;
}
#social-icons div, #social-icons a {
    flex-basis: calc(100% / 6);
    transition: .2s;
}
.icons-dark {
    color: var(--text-color-dark);
}
.icons-light {
    color: var(--text-color-light);
}