@import 'fonts.css';
@import 'sidebar.css';
@import 'images.css';
@import 'about.css';
@import 'expEdu.css';
@import 'skills.css';
@import 'projects.css';

:root {
    --image-border-dark: rgb(0, 102, 255);
    --image-border-light: rgb(0, 70, 175);
    --background-dark: #121212; 
    --background-light: #ffffff;
    --nav-background-dark: #000000;
    --nav-background-light: #e4e4e4;
    --text-color-dark: rgb(197, 197, 197);
    --text-color-light: #343a40;
    --first-name-dark: rgb(197, 197, 197);
    --first-name-light: rgb(58, 58, 58); 
    --last-name-dark: rgb(0, 102, 255);
    --last-name-light: rgb(0, 70, 175);
    --hr-line-color: rgb(197, 197, 197);
    --h1-dark: rgb(0, 102, 255);
    --h1-light: rgb(0, 70, 175);
    --link-color-light: #61dafb;
    --link-color-dark: #61dafb;
    --line-height: 1.8;
    --font-size: 1em;

    --font-size-app-body: calc(12px + 0.8vw);
    --font-size-first-last-name: 10vw;
    --font-size-about-contact: calc(6px + 3vw);
    --font-size-connect-icons: calc(2rem + 3vw);
    --font-size-position-name: calc(12px + 4vw);
    --font-size-company-name: calc(6px + 3vw);
    --font-size-position-time: calc(6px + 3vw);
    --font-size-h1: 10vw;
    --font-size-h2: 8vw;
}


#App-body {
    min-height: 100vh;
    font-size: var(--font-size-app-body);
    font-family: "muli";
    transition: background-color, color .2s ease;
    padding-bottom: 5rem !important;
    overflow: auto;
}
.App-body-margin-on {
    padding-left: 17rem;
}
.App-body-dark {
    background-color: var(--background-dark);
    color: var(--text-color-dark);
}
.App-body-light {
    background-color: var(--background-light);
    color: var(--text-color-light);
}
section {
    padding-left: 2%;
    padding-right: 2%;
}



hr {
    height: 1px;
    display: block;
    clear: both;
    background-color: var(--hr-line-color);
    width: 100%;
    margin-top: 15vh;
}
h1 {
    font-weight: 700;
    font-family: "Saira Extra Condensed";
    font-size: var(--font-size-h1);
}
h2 {
    font-weight: 700;
    font-family: "Saira Extra Condensed";
    font-size: var(--font-size-h2);
}
.h1-dark, .h2-dark {
    color: var(--h1-dark);
}
.h1-light, .h2-light {
    color: var(--h1-light);
}





