@import 'fonts.css';
@import 'sidebar.css';
@import 'images.css';

:root {
  --image-border-dark: rgb(0, 102, 255);
  --image-border-light: rgb(0, 70, 175);
  --background-dark: #121212; 
  --background-light: #ffffff;
  --nav-background-dark: #000000;
  --nav-background-light: #e4e4e4;
  --text-color-dark: rgb(197, 197, 197);
  --text-color-light: #343a40;
  --first-name-dark: rgb(197, 197, 197);
  --first-name-light: rgb(58, 58, 58); 
  --last-name-dark: rgb(0, 102, 255);
  --last-name-light: rgb(0, 70, 175);
  --hr-line-color: rgb(197, 197, 197);
  --h1-dark: rgb(0, 102, 255);
  --h1-light: rgb(0, 70, 175);
  --h2-dark: rgb(0, 102, 255);
  --h2-light: rgb(0, 70, 175);
  --link-color-light: #61dafb;
  --link-color-dark: #61dafb;
  --line-height: 1.8;
  --font-size: 1em;

  --font-size-app-body: calc(12px + 0.8vw);
  --font-size-first-last-name: 10vw;
  --font-size-about-contact: calc(6px + 3vw);
  --font-size-position-name: calc(12px + 4vw);
  --font-size-company-name: calc(6px + 3vw);
  --font-size-position-time: calc(6px + 3vw);
  --font-size-h1: 10vw;
  --font-size-h2: 8vw;
}

.background {
  background-color: var(--background-dark);
  width: 100%;
  height: 100%;
  color: var(--background-dark);
}

.App-body {
  min-height: 100vh;
  font-size: var(--font-size-app-body);
  font-family: "muli";
  transition: background-color, color .2s ease;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  overflow: auto;
}

.App-body-margin-on {
  padding-left: 17rem;
}

.App-body-dark {
  background-color: var(--background-dark) !important;
  color: var(--text-color-dark) !important;
}

.App-body-light {
  background-color: var(--background-light) !important;
  color: var(--text-color-light) !important;
}

.App-link {
  color: var(--link-color-dark);
}


section {
  margin-left: 2%;
  margin-right: 2%;
}


.color-nav-dark {
  background-color: var(--nav-background-dark) !important;
  transition: .2s ease;
}
.color-nav-light {
  background-color: var(--nav-background-light) !important;
  transition: .2s ease;
}

.first-last-name {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--font-size-first-last-name);
  font-family: "Saira Extra Condensed";
  font-weight: 700;
  transition-duration: .2s;
  margin-bottom: 0;
}
.first-name-light {
  color: var(--first-name-light);
  display: inline-block;
}
.first-name-dark {
  color: var(--first-name-dark);
  display: inline-block;
}
.last-name-light {
  color: var(--last-name-light);
  display: inline-block;
}
.last-name-dark {
  color: var(--last-name-dark);
  display: inline-block;
}



.about-contact {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--font-size-about-contact);
  font-family: "Saira Extra Condensed";
  font-weight: 700;
  margin-top: -5vw;
  display: block;
}
.about-contact-dark {
  color: var(--first-name-dark);
}
.about-contact-light {
  color: var(--first-name-light);
}
.dark-mail {
  color: var(--last-name-dark);
  transition: .2s;
}
.dark-mail:hover {
  color: var(--last-name-light);
}
.light-mail {
  color: var(--last-name-light);
  transition: .2s;
}
.light-mail:hover {
  color: var(--last-name-dark);
}
.about-container {
  font-size: var(--font-size);
  line-height: var(--line-height);
}
.about-paragraph {
  margin-top: 5vw;
}
.social-icons {
  font-size: var(--font-size-position-name);
  display: inline-block;
  margin-right: 5vw;
  transition: .2s;
}
.social-icons-dark {
  color: var(--text-color-dark);
}
.social-icons-light {
  color: var(--text-color-light);
}




.experience-container {
  font-size: var(--font-size);
  line-height: var(--line-height);
}
.position-name {
  font-weight: 700;
  font-family: "Saira Extra Condensed";
  text-align: left;
  font-size: var(--font-size-position-name);
  margin-top: 5vw;
}
.company-name {
  font-weight: 700;
  font-family: "Saira Extra Condensed";
  display: inline;
  text-align: left;
  font-size: var(--font-size-company-name);
}
.position-time {
  font-weight: 700;
  font-size: var(--font-size-position-time);
  font-family: "Saira Extra Condensed";
  display: inline;
  float: right;
}
.position-time-dark {
  color: var(--h1-dark);
}
.position-time-light {
  color: var(--h1-light);
}
.experience-text {
  margin-top: 5vh;
}



.education-container {
  font-size: var(--font-size);
  line-height: var(--line-height);
}
.skills-container {
  font-size: var(--font-size);
  line-height: var(--line-height);
}
.projects-container {
  font-size: var(--font-size);
  line-height: var(--line-height);
}
.contact-container {
  font-size: var(--font-size);
  line-height: var(--line-height);
}



hr {
  height: 1px;
  display: block;
  clear: both;
  background-color: var(--hr-line-color);
  width: 100%;
  margin-top: 15vh;
}
h1 {
  font-weight: 700;
  font-family: "Saira Extra Condensed";
  font-size: var(--font-size-h1);
}
.h1-dark {
  color: var(--h1-dark);
}
.h1-light {
  color: var(--h1-light);
}



h2 {
  font-weight: 700;
  font-family: "Saira Extra Condensed";
  font-size: var(--font-size-h2);
}
.h2-dark {
  color: var(--h2-dark);
}
.h2-light {
  color: var(--h2-light);
}



