.project-header {
    font-weight: 700;
    font-family: "Saira Extra Condensed";
    display: block;
    text-align: left;
    font-size: var(--font-size-position-name);
    margin-top: 3vw;
    margin-bottom: 2vw;
}
.feature-header {
    font-weight: 700;
    font-family: "Saira Extra Condensed";
    display: inline;
    text-align: left;
    font-size: var(--font-size-company-name);
    margin-top: 3vw;
}
.padding-left {
    padding-left: 2vw;
}

.spacing {
    margin-top: 5vw;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1%;
    width: 98%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.column-image {
    width: 25vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.column-image-double {
    width: 50vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


.image-border-light {
    border: 1px solid var(--image-border-light);
    border-radius: 3px;
}
.image-border-dark {
    border: 1px solid var(--image-border-dark);
    border-radius: 1px;
}



.gallery-bullet {
    width: var(--gallery-button-size);
    height: var(--gallery-button-size);
    background: var(--text-color-dark) !important;
    border: 0 !important;
    transition: .2s !important;
    box-shadow: none !important;
}
.image-gallery-bullets .gallery-bullet.active {
    background: var(--last-name-dark) !important;
    border: 0;
    transition: .2s;

}


@media (max-width: 768px) {
    .padding-left {
        padding-left: 0vw;
    }
    .column {
        flex-basis: 100%;
        margin-top: 3vw;
    }
    .double-column {
        flex-basis: 100%;
        margin-top: 3vw;
    }
    .column-image {
        width: 60vw;
    }
    .column-image-double {
        width: 80vw;
    }
}