#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    transition-duration: .2s;
}

.nav-item-fixed {
    position: fixed;
    top: 0;
    margin-top: 1rem;
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    transition-duration: .2s;
}

.navbar {
    transition-duration: .2s;
}

button {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*input has OS specific font-family*/
    text-decoration: underline;
    cursor: pointer;
    transition-duration: .2s;
  }
  

#sideNav .navbar-toggler:focus {
    outline-color: #262626;
    transition-duration: .2s;
}
@media (min-width: 768px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        overflow: auto;
        width: 17rem;
        height: 100vh;
        transition-duration: .2s;
   }
    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
        transition-duration: .2s;
   }
    #sideNav .navbar-brand .img-profile {
        max-width: 13rem;
        max-height: 13rem;
        height: 13rem;
        width: 13rem;
        object-fit: cover;
        border-radius: 50%;
        transition-duration: .2s;
   }
    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
        transition-duration: .2s;
   }
    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
        transition-duration: .2s;
   }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
        transition-duration: .2s;
   }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
        max-height: 10rem;
        transition-duration: .2s;
   }
}
