.skills-container {
    font-size: var(--font-size);
    line-height: var(--line-height);
}
.skills-text {
    margin-top: 3vh;
}
#skills-icons {
    font-size: var(--font-size-connect-icons);
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
    justify-content: space-evenly;
    text-align: center;
    transition: .2s;
}

#skills-icons .icons-dark {
    color: var(--text-color-dark);
    transition: .2s;
}
#skills-icons .icons-dark:hover {
    color: var(--last-name-dark);
    transition: .2s;
}
#skills-icons .icons-light {
    color: var(--text-color-light);
    transition: .2s;
}
#skills-icons .icons-light:hover {
    color: var(--last-name-light);
    transition: .2s;
}

.skills-header {
    font-weight: 700;
    font-family: "Saira Extra Condensed";
    display: inline;
    text-align: left;
    font-size: var(--font-size-position-name);
}
#skills-icons div, #skills-icons a {
    flex-basis: calc((100% / 6) - 4vw);
}
#skills-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
    justify-content: space-between;
}
#skills-list li {
    flex-basis: 50%;
}
@media (max-width: 768px) {
    #skills-list li {
        flex-basis: 100%;
    }
}
